<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="robotic_arm_real.urdf.xacro" />
    <xacro:include filename="robotic_arm_mujoco.urdf.xacro" />

    <xacro:macro name="robotic_arm_ros2_control" params="backend name initial_positions_file">
        <xacro:if value="${backend == 'real'}">
            <xacro:robotic_arm_real_ros2_control name="${name}" />
        </xacro:if>

        <xacro:if value="${backend == 'mujoco'}">
            <xacro:robotic_arm_mujoco_ros2_control
                name="${name}"
                initial_positions_file="${initial_positions_file}" />
        </xacro:if>
    </xacro:macro>
</robot>
