<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotic_arm_mujoco_config">
    <mujoco>
      <compiler angle="radian" meshdir="."/>
    </mujoco>
  </xacro:macro>

  <xacro:macro name="robotic_arm_mujoco_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystem</plugin>
      </hardware>

      <joint name="joint1">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint1']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="joint2">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint2']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="joint3">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint3']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="joint4">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint4']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="joint5">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint5']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="joint6">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint6']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <gpio name="suction">
        <command_interface name="vacuum" data_type="bool"/>
        <state_interface name="vacuum" data_type="bool"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
